body{
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bitter', serif;
    font-size: 20px;
    font-weight: 500;
}

h1{
    font-size: 80px;
    letter-spacing: -1.5px;
    font-weight: 400;
    margin: 0;
}
h2{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -0.5px;
}
h3{
    font-size: 38px;
    letter-spacing: 0px;
}
h4{
    font-size: 30px;
    letter-spacing: 0px;
}
h5{
    font-size: 24px;
    letter-spacing: 0.25px;
}
h6{
    font-size: 20px;
    letter-spacing: 0.25px;
}
code{
    color:#e95400;
    font-weight: bold;
}

.hero{
    height: 100vh;
    background-color: #863ae8;
    color: white;
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-content{
    max-width: 70%;
}

.hero-content p{
    margin: 38px 0;
}

.content{
    max-width: 900px;
    margin: 0 auto;
    padding: 32px;
}

.content h3{
    text-transform: capitalize;
}

.info{
    font-family: 'Bitter', serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.info span{
    color: #e95400;
}

.headline{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 40px 0;
}

.quote{
    font-style: italic;
    font-size: 16px;
    border-left:2px solid#e95400;
    padding: 0 0 0 16px;
    margin: 32px 0 32px 32px;
}

.quote cite{
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 0 20px;
}
footer{
    background-color: #863ae8;
    height: 50px;
    color: white;
    text-align: center;
}

footer li{
    display: inline-block;
    padding: 10px 15px;
}
footer li a{
    text-decoration: none;
    color: white;
}
footer li a:hover{
    text-decoration: underline;
}